:root {
    --book-background-- :  #ede0d4;
    --container-one-- : #b08968;
    --container-two : #e6ccb2;
    --shadow-- :#ffbe0b;
    --button-- : #d90429;
}

@font-face {
    font-family: 'RomanceFatalPrima-RAZV' ;
    src: url(RomanceFatalPrima-RAZV.ttf);
}

@font-face {
    font-family: 'WizardWorldSimplified-Kxr7' ;
    src: url(WizardWorldSimplified-Kxr7.ttf);
}

@font-face {
    font-family: 'Parseltongue-GOnG' ;
    src: url(Parseltongue-GOnG.ttf);
}
@font-face {
    font-family: 'Xefora-vp34' ;
    src: url(Xefora-vp34.ttf);
}

@font-face {
    font-family: 'Legendary Runes Free Trial' ;
    src: url(LegendaryRunesFreeTrial.ttf);
}

@font-face {
    font-family: 'ParryHotter' ;
    src: url(ParryHotter.ttf);
}
.body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'RomanceFatalPrima-RAZV', sans-serif;
    background-color: var(--book-background--);

}

.book {
    padding: 20px 0;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--book-background--) ;
}
.book .main {
    height: auto;
    width: 80%;
    display: flex;
    flex-direction: row;
}

.book .main .containerOne {
    background-color: var(--container-one--);
    width: 100%;
    border-radius: 30px 0 0 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.book .main .containerOne h1 {
    font-family: 'RomanceFatalPrima-RAZV', sans-serif;
    font-weight: bolder;
    font-size: 2.5rem;
}
.book .main .containerOne .btns {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.book .main .containerOne .btns select {
    width: 100%;
    margin: 0 6px;
    height: 2rem;
    text-align: center;
    border: 1px solid var(--container-two);
    border-radius: 5px;
    background-color: var(--container-two);
}

.book .main .containerOne button {
    background-color: var(--button--);
    height: 2rem;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
    color: var(--container-one--);
    border: 0;
    border-radius: 10px;
    font-weight: bolder;
}
.book .main .containerOne textarea {
    margin: 0 auto;
    width: 80%;
    text-align: start;
    background-color: var(--container-two);
    border-radius: 10px;
    height: 20rem;
    padding: 20px;
    line-height: 1.5;
    margin-bottom:5px;
}
.book .main .containerTwo {
    width: 100%;
    border-radius: 0 30px 30px 0;
    background-color: var(--container-two);
    box-shadow: inset 0 0 50px var(--shadow--);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

.book .main .containerTwo img {
    height: 10rem;
    margin: 10px auto 0;

}

.book .main .containerTwo textarea {
    /* margin: 20px 50px 0 50px; */
    width: 90%;
    text-align: start;
    background-color: var(--container-two);
    border-radius: 10px;
    height: auto;
    /* padding: 30px 30px 0 30px; */
    margin: 0 auto;
    background-color: transparent;
    border: none transparent;
    outline: none;

}
.book .main .containerTwo textarea::-webkit-scrollbar { width: 0 !important }

.book .main .containerTwo .output {
    /* font-family: "RomanceFatalPrima-RAZV"; */
    font-size: 20px;
    line-height: 1.5;
}

@media (max-width: 480px) {
    .book {
        overflow: hidden;
    }
    .book .main {
        flex-direction: column;
    }
    .book .main .containerOne, .book .main .containerTwo {
        border-radius: 10px;
    }
    .book .main .containerOne {
        margin-bottom: 20px;
    }
    .book .main .containerTwo .output{
        margin-right: 30px;
        margin: 10px;
    }
    .book .main .containerTwo h1 {
        margin-left: 55% !important;
    }
}

@media (max-width: 768px){
    .book .main {
        flex-direction: column;
    }
    .book .main .containerOne {
        margin-bottom: 10px;
    }
    .book .main .containerOne, .book .main .containerTwo {
        border-radius: 15px;
    }
}

@media (max-width: 768px) {
    .book .main .containerTwo h1 {
        margin-left: 40% !important;
    }
    .book .main .containerTwo .output{
        margin: 10px;
    }
}

