.body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    height: 100vh;
    width: 100%;
}
.container .main {
    height: 400px;
    width: 500px;
    background-color: white;
    border-radius: 20px;
}

.container .main .inputs {
    margin: 20px 20px 0 20px;
    display: flex; 
    flex-direction: row;
}

.container .main .inputs input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid gray;
    align-self: center;
}
.container .main #textFrom, .container .main #toText {
    height: 300px ;
}

.container .main .settings {
    display: flex;
    flex: row;
    justify-content: space-around;
    align-items: center;
    width: 91.7%;
    border: 1px solid gray;
    height: 30px;
    margin-left: 20px;
}
.button{
    margin-left: 41%;
}
